<%= form_with(model: coffee, local: true) do |form| %>
  <% if coffee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coffee.errors.count, "error") %> prohibited this coffee from being saved:</h2>

      <ul>
        <% coffee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= form.label :name %>
    </p>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <p>
      <%= form.label :price %>
    </p>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <p>
      <%= form.label :origin %>
    </p>
    <%= form.text_field :origin %>
  </div>

  <div class="field">
    <p>
      <%= form.label :description %>
    </p>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
