<p id="notice"><%= notice %></p>

<h1>Coffees</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Origin</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coffees.each do |coffee| %>
      <tr>
        <td><%= coffee.name %></td>
        <td><%= coffee.price %></td>
        <td><%= coffee.origin %></td>
        <td><%= coffee.description %></td>
        <% if current_user.role == 'Admin' %>
          <td><%= link_to 'Show', coffee %></td>
          <td><%= link_to 'Edit', edit_coffee_path(coffee) %></td>
          <td><%= link_to 'Destroy', coffee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Coffee', new_coffee_path %>
