<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coffee.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @coffee.price %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @coffee.origin %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coffee.description %>
</p>

<%= link_to 'Edit', edit_coffee_path(@coffee) %> |
<%= link_to 'Back', coffees_path %>
