<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'home' %>
  </head>
  <body>
    <div class="container">
      <p>
        Welcome <%= current_user.email %>!
        <%= link_to "Log Out", logout_path %>
      </p>
      <p class="title text-center">Welcome to The Coffee World!</p>  
    </div>
  </body>
</html>