<%= stylesheet_link_tag 'home' %>
<div class="container center_div">
    <div class="text-center form">
        <%= link_to "Sign Up", signup_path %> or 
        <%= link_to "Log In", login_path %>
        <p id="notice"><%= notice %></p>
    </div>
</div>