body {
    background-image: url("background_home");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
};

.form {
    line-height: 80px;
};

.title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
};
